@import 'normalize'
@import 'helper'

/* variables */
$linkColor = #555
$black = #222

html
button
input
select
textarea 
  color: $black

*
  margin 0
  padding 0
  box-sizing: border-box;

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)

ul
  list-style none
  
body
  color: $black
  font-size: 1em
  line-height: 1.5

.text-center
  text-align center
    
.container
  .header
    padding: .5em 0;
    text-align: center;

    h1
      font-size: 34px;
      color: #3cc51f;
      font-weight: 400;
      margin: 0 15%;

    p
      color: #888;
      font-size: 14px;

  .footer
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 44px;
    line-height: 44px;
    color: #696969;
    background-image: -webkit-linear-gradient(rgba(14,14,14,0) 0, #dedede 100%);

    .grid-area
      position: absolute;
      top: 0;
      display: block;
      padding: 3px 16px;

    .simipic
      font-size: 1.3em;
      left: 50%;
      transform: translate(-50%, 0);

    .message
      right 0

  .photo-list-container
    overflow: hidden;
    margin: 0 .5em;
    text-align center

    li
      float: left;
      position: relative;
      width: 49%;
      margin-bottom: 2%;
      overflow: hidden;

      a
        display: block;
        width: 100%;

        img
          vertical-align: middle;
          height: 180px;

        span
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          color: #fff;
          line-height: 25px;
          text-indent: 10px;
          font-size: 18px;
          letter-spacing: 0.2em;
          background-image: -webkit-linear-gradient(rgba(14,14,14, 0) 0, rgba(14,14,14, 1) 100%);

  .person-info-container
    margin-bottom: 44px;

    .person-img
      overflow: hidden;
      text-align: center;
      display: block;
      padding: 10px 15px 0;
      box-shadow: 0 1px 3px rgba(34, 25, 25, .4);

      &.full-screen
        position absolute
        left 0
        top 68px
        padding 0
        z-index: 2;

      img
        width: 100%;

    .person-card
      margin: 0 15px;
      padding: 1em 0;
      border-bottom: 1px solid #dedede;

      &.full-screen
        position absolute
        left 0
        top 0
        background: #fff;
        width: 90%;
        font-size: 1.4em;

      .title
        border-left: 2px solid #459df5;
        padding-left: 8px;

        .lemma-title
          color: #252525;
          font-weight: 700;

        .voice-play
          float right

          &.gray-text
            color: #888;

          .btn-icon
            background: url(../images/voice_icon.png) no-repeat -30px center;
            background-size: 45px;
            width: 15px;
            display: inline-block;
            vertical-align: top;
            height: 24px;
            margin-right: 5px;

            &.playing
              animation-name: toAni;
              animation-duration: 1s;
              animation-timing-function: steps(3);
              animation-delay: 0s;
              animation-iteration-count: infinite;
              animation-direction: normal;
              animation-fill-mode: none;
              animation-play-state: running

              @keyframes toAni {
                0% {
                    background-position: 0 center
                }

                100% {
                    background-position: -45px center
                }
              }

    .base-info
      margin: 1em;
      line-height: 1.5;

      li
        line-height: 1.8em;

        .info-title
          float: left;
          color: #444;

        .info-content
          margin-left: 5em;
          color: #666;
          word-break: break-all;
          word-wrap: break-word;

  .similar-pic-container
    overflow: hidden;
    margin: .5em;
    text-align center

    .title
      height: 37px;
      line-height: 37px;
      font-size: 18px;
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
      margin-bottom: .8em;
      text-align: left;
      border-left: 2px solid #459df5;
      padding-left: 8px;;

    .pic-list
      li
        float: left;
        position: relative;
        margin-bottom: 2%;
        overflow: hidden;
        width: 100%;

        img
          width 100%

        span
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          color: #fff;
          line-height: 25px;
          background-image: -webkit-linear-gradient(rgba(14,14,14,0) 0, #0e0e0e 100%);