.page-head-menu-container

  .head-menu
    height: 40px;
    background: #fff;

    div
      float: left;
      width: 27%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 16px;
      color: #333;
      margin: 0 3.166666666%;

      &.active
        color: #00bc8d;
        height: 38px;
        line-height: 38px;
        border-bottom: 2px solid #00bc8d;

  .my-product-item
    background: #fff;
    margin-top: 1em;
    padding: 1em 0;

    .line
      overflow hidden
      margin: .4em 0;
      padding: 0 1em;

      &.line1
        border-bottom: 1px solid #f5f5f5;
        padding-bottom: .4em;

      .left-part
        float left

      .right-part
        float right