.wukong-coupon-container
  padding: 0 .5em;
  background: #fff;

  ul
    list-style none

    li
      background: url(/images/opacity.png) no-repeat;
      display: block;
      width: 100%;
      height: 6em;
      background-size: cover;
      margin: 0 auto .5em;

      &.couponBgno
        p
          opacity: 0.48;

        .div_span
          opacity: 0.48;

      .couponDetail
        width: 66%;

        h1
          color: #fff;
          padding: .4em 0 .4em 1em;
          font-size: 0.7rem;

        p
          color: #fcd321;
          font-size: 2.5em;
          text-align: center;
          line-height: 1em;

        .div_span
          display: -webkit-box;
          -webkit-box-pack: center;

          span
            color: #fe9f9e;
            font-size: .7em;
            text-align: center;
            border-radius: 0.4rem;
            background: #ed372f;
            padding: 0 1em;
            height: 1.5em;
            line-height: 1.5em;
            display: block;
            margin-top: .6em;

      .couponType
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        -webkit-box-orient: vertical;
        width: 34%;

        .lose
          p
            color: #fff!important;
            opacity: 1;
            width: 100%;
            text-align: center;

            &:first-child
              font-size: 1em;
              padding: 1.3em 0;

            &:last-child
              font-size: .6em;